<div class="container">
    <div *ngIf="mitigationService.mitigation | async as mitigation">
        <div class="form-group">
            <h3>Mitigation Measure Details</h3>
            <hr/>
            <div class="row px-3">
                <form [formGroup]="form" class="w-100" (ngSubmit)="onSubmit()">
                    <div class="form-group col px-0">                        
                        <h5 for="name" 
                            data-toggle="tooltip"
                            data-placement="top" 
                            title="A Name for the Mitigation Measure">Mitigation Measure Name
                        </h5>
                        <input type="text" class="form-control w-100" formControlName="name" placeholder="Enter Mitigation Measure Name"/>
                        <h5 for="description" 
                            data-toggle="tooltip"
                            data-placement="top" 
                            title="Detailed Description of the Mitigation Measure">Description
                        </h5>                        
                        <textarea class="form-control w-100" formControlName="description" placeholder="Enter Detailed Description" ></textarea>
                    </div>
                    <div class="form-group">
                        <button [disabled]="loading" class="btn btn-primary" type="submit">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Submit</button>
                        <a (click)="goBack()" class="btn btn-link">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div *ngIf="isAdd">
        <div class="form-group">
            <h3>Mitigation Measure Details</h3>
            <hr/>
            <div class="row px-3">
                <form [formGroup]="form" class="w-100" (ngSubmit)="onSubmit()">
                    <div class="form-group col px-0">                        
                        <h5 for="name" 
                            data-toggle="tooltip"
                            data-placement="top" 
                            title="A Name for the Mitigation Measure">Mitigation Measure Name
                        </h5>
                        <input type="text" class="form-control w-100" formControlName="name" placeholder="Enter Mitigation Measure Name"/>
                        <h5 for="description" 
                            data-toggle="tooltip"
                            data-placement="top" 
                            title="Detailed Description of the Mitigation Measure">Description
                        </h5>                        
                        <textarea class="form-control w-100" formControlName="description" placeholder="Enter Detailed Description" ></textarea>
                    </div>
                    <div class="form-group">
                        <button [disabled]="loading" class="btn btn-primary" type="submit">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Submit</button>
                        <a (click)="goBack()" class="btn btn-link">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>