<h1>Project Management</h1>
<table class="table table-striped bg-white">    
    <tr>
        <th style="width: 100%">Project Name</th>
    </tr>
    <tr *ngFor="let project of projects; let i = index">
        <td> 
            <div class="row p-1">
                <button class="btn btn-white col noFocus text-left" type="button" data-toggle="collapse" [attr.data-target]="'#team' + i" style="width: auto; outline: 0;">
                    <span class="col" style="font-size: x-large; width: fit-content;">{{project.name}}</span>
                </button>
            </div>
            <div id="team{{i}}" class="collapse in" >
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let team of project.team">
                        <div class="row">
                            <span class="col">{{team.name}}</span>
                            <button (click)="removeTeamMember(project.id, team.id)" class="btn btn-sm btn-danger btn-delete-user" style="width: fit-content;">Remove</button>
                        </div>
                    </li>
                    <button (click)="addTeamMember(project.id)" class="row btn btn-sm btn-success btn-add-user m-1" style="width: fit-content;" >
                        Add
                    </button>
                </ul>
            </div>
        </td>
    </tr>
</table>