<div class="container">
    <div *ngIf="riskService.risk | async as risk">
        <div class="form-group">
            <h3>Risk Details</h3>
            <hr/>
            <div class="row px-3">
                <form [formGroup]="form" class="w-100" (ngSubmit)="onSubmit()">
                    <div class="form-group col px-0">                        
                        <h5 for="shortDescription" 
                            data-toggle="tooltip"
                            data-placement="top" 
                            title="A simplified description of the Risk">Short Description
                        </h5>
                        <input type="text" class="form-control w-100" formControlName="shortDescription" placeholder="Enter Short Description"/>
                        <h5 for="description" 
                            data-toggle="tooltip"
                            data-placement="top" 
                            title="Detailed Description of the Risk">Description
                        </h5>                        
                        <textarea class="form-control w-100" formControlName="description" placeholder="Enter Detailed Description" ></textarea>

                        <!-- Risk Scores-->
                        <div class="row mx-1">
                            <div class="row col-auto p-1 m-0 mt-2 bg-success rounded text-white" style="width: fit-content;">
                                <div class="col-auto">
                                    <label>Likelihood</label>
                                    <input type="number" class="form-control w-100" min="1" max="5" 
                                    formControlName="inherentLikelihood" placeholder="1"
                                    (change)="getRiskScore(0)"/>        
                                </div>
                                <div class="col-auto">
                                    <label>Impact</label>
                                    <input type="number" class="form-control w-100" min="1" max="5" 
                                    formControlName="inherentImpact" placeholder="1"
                                    (change)="getRiskScore(0)"/>
                                </div>
                                <div class="col-auto border rounded" style="width: 140px;">
                                    <label>Inherent Risk</label>
                                    <br/>
                                    <h3 class="text-center">{{inherentRiskScore}}</h3>
                                </div>
                            </div>
                            <div class="mx-2"></div>
                            <div class="row col-auto p-1 m-0 mt-2 bg-info rounded text-white" style="width: fit-content;">
                                <div class="col-auto">
                                    <label>Likelihood</label>
                                    <input type="number" class="form-control w-100" min="1" max="5" 
                                    formControlName="residualLikelihood" placeholder="1"
                                    (change)="getRiskScore(1)"/>        
                                </div>
                                <div class="col-auto">
                                    <label>Impact</label>
                                    <input type="number" class="form-control w-100" min="1" max="5" 
                                    formControlName="residualImpact" placeholder="1"
                                    (change)="getRiskScore(1)"/>
                                </div>
                                <div class="col-auto border rounded" style="width: 140px;">
                                    <label>Residual Risk</label>
                                    <br/>
                                    <h3 class="text-center">{{residualRiskScore}}</h3>
                                </div>
                            </div>
                            <div class="mx-2"></div>
                            <div class="row col-auto p-1 m-0 mt-2 bg-dark rounded text-white" style="width: fit-content;">
                                <div class="col-auto">
                                    <label>Likelihood</label>
                                    <input type="number" class="form-control w-100" min="1" max="5" 
                                    formControlName="futureLikelihood" placeholder="1"
                                    (change)="getRiskScore(2)"/>        
                                </div>
                                <div class="col-auto">
                                    <label>Impact</label>
                                    <input type="number" class="form-control w-100" min="1" max="5" 
                                    formControlName="futureImpact" placeholder="1"
                                    (change)="getRiskScore(2)"/>
                                </div>
                                <div class="col-auto border rounded" style="width: 140px;">
                                    <label>Future Risk</label>
                                    <br/>
                                    <h3 class="text-center">{{futureRiskScore}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button [disabled]="loading" class="btn btn-primary" type="submit">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Submit</button>
                        <a (click)="goBack()" class="btn btn-link">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
        <!-- Mitigation Measures-->
        <hr/>
        <mitigation-list [currentRisk]="risk"></mitigation-list>
    </div>
    <div *ngIf="isAdd">
        <div class="form-group">
            <h3>Risk Details</h3>
            <hr/>
            <div class="row">
                <form [formGroup]="form" class="w-100" (ngSubmit)="onSubmit()">
                    <div class="form-group col px-0">
                        <h5 for="shortDescription" 
                            data-toggle="tooltip"
                            data-placement="top" 
                            title="A simplified description of the Risk">Short Description
                        </h5>
                        <input type="text" class="form-control w-100" formControlName="shortDescription" placeholder="Enter Short Description"/>
                        <h5 for="description" 
                            data-toggle="tooltip"
                            data-placement="top" 
                            title="Detailed Description of the Risk">Description
                        </h5>
                        <textarea class="form-control w-100" formControlName="description" placeholder="Enter Detailed Description" ></textarea>
                    </div>
                    <div class="form-group">
                        <button [disabled]="loading" class="btn btn-primary" type="submit">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Submit</button>
                        <a (click)="goBack()" class="btn btn-link">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>