<!-- navigation bar -->
<nav *ngIf="user" class="navbar navbar-expand navbar-dark mr-auto bg-dark" >
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a *ngIf="user.riskManager || user.admin" class="nav-item nav-link" routerLink="/user-management" routerLinkActive="active">User Management</a>
    </div>
    <button type="button" class="btn btn-danger ml-auto" (click)="logout()">Logout</button>
</nav>

<!--  app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
    <alert></alert>
    <router-outlet></router-outlet>
</div>
