<div class="container-n">
    <h1>Risk Registry</h1>
      
    <div class="row h-100">
          <div class="list-group" id="list-tab" role="tablist" style="max-width: 300px; overflow-x: hidden;">
            <a [ngClass]="{'active': project === selectedProject}" 
                *ngFor="let project of projectService.projects | async; let i = index;" 
                [ngValue]="project" class="list-group-item list-group-item-action" 
                data-bs-toggle="list" role="tab" (click)="onTabClick(project)">{{project.name}}</a>
          </div>
        <!--
        <select class="selectpicker w-auto" data-style="btn-info" size="20" style="overflow-y: auto;" [(ngModel)]="selectedProject">
            <option *ngFor="let project of projectService.projects | async; let i = index; let first as isFirst;" [ngValue]="project" >{{project.name}}</option>
        </select>-->  

        <app-risk-register-list class="col" id="riskRegisterList" [currentProject]="selectedProject"></app-risk-register-list>
    </div>
</div>