@import "~@ng-select/ng-select/themes/default.theme.css";

a {
  cursor: pointer
}

.app-container {
  width: 100%;
  min-height: 320px;
  overflow: hidden;
}

.btn-delete-user {
  width: 40px;
  text-align: center;
  box-sizing: content-box;
}

.container {
  max-width: none;
}

.container-n{
  max-width: 960px;
}