<div class="card">
    <div class="container">
        <br/>
        <div class="p-2">
            <h4>Welcome {{user.username}}</h4>
            <p>Not {{user.username}}? <a (click)="logout()">Click to Logout</a></p>
            <br/>
            <div class="btn-group btn-group-justified w-100" style="height: 100px;" role="group">
                <button type="button" class="btn btn-default btn-secondary rounded" style="width: 200px;" routerLink="/risk-register" >Risk Registry</button>
                <div class="mx-1"></div>
                <button *ngIf="user.riskManager || user.admin" style="width: 200px;" type="button" class="btn btn-secondary rounded" routerLink="/edit-users">User Management</button>
                <div class="mx-1"></div>
                <button *ngIf="user.riskManager || user.admin" style="width: 200px;" routerLink="/edit-projects" type="button" class="btn btn-secondary rounded">Projects</button>
                <div class="mx-1"></div>
                <button type="button" class="btn btn-secondary rounded" style="width: 200px;" routerLink="/metrics" routerLinkActive="active">Risk Metrics</button>
            </div>
        </div>
    </div>
</div>